*.o
*.a
*.lo
*.la
.deps
.libs
.dirstamp
Makefile
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
compile
install-sh
libtool
ltmain.sh
missing
stamp-h1
autom4te.cache

src/builtin.h
src/obexd
src/obexd.service
plugins/phonebook.c
plugins/telephony.c
plugins/messages.c
client/obex-client
client/obex-client.service
test/obex-test
debian
