*.o
*.a
.deps
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
autom4te.cache

src/org.openobex.service
src/obexd
client/org.openobex.client.service
client/obex-client
